a {
    text-decoration: none;
}

.moduleX {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #405D6B;
    border-radius: 4px;

    box-shadow: 6px 6px 10px rgba(0,0,0,0.4);
}

.moduleX:hover {
    background-color: #73909E;
    cursor: pointer;
    color: #fff;
}

.col_bu { /* 武勇 */
    color: #d88;
}

.col_sei { /* 政治 */
    color: #8d8;
}

.col_chi { /* 知略 */
    color: #88d;
}

/* 画像のホバーエフェクト15：  http://www.nxworld.net/tips/css-image-hover-effects.html */

.moduleX img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.moduleX:hover img {
	opacity: .5;
}

/* 画像のトリミング方法： http://www.tam-tam.co.jp/tipsnote/html_css/post10099.html */

.trim {
  width: 80px;  /* トリミングしたい幅 */
  height: 80px;  /* トリミングしたい高さ */
  overflow: hidden;
  position: relative;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}