<h2>武将たち</h2>
<div>
  <label>武将名:</label>
  <input #busyouName />
  <button type="button" class="btn btn-primary" 
    (click)="add(busyouName.value); busyouName.value = ''">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      追加
  </button>
<!--  <button (click)="add(busyouName.value); busyouName.value = ''">
    追加
  </button>
-->
</div>

<table class="table table-hover table-striped">
  <thead>
  <tr><th>id</th><th></th><th>武将名</th><th></th></tr>
  </thead>
  <tbody>
  <tr *ngFor="let busyou of busyous"
      [class.selected]="busyou===selectedBusyou"
      (click)="onSelect(busyou)">
    <td>{{busyou.id}}</td>
    <td>
      <img [src]="getBusyouPortrait(busyou)" class="rounded" width="96">
    </td>
    <td>
      {{busyou.name}}
    </td>
    <td>
<!--      <button type="button" class="btn btn-danger"
        (click)="delete(busyou); $event.stopPropagation()">削除</button>
-->
      <button type="button" class="btn btn-primary" 
        (click)="gotoDetail()" [disabled]="busyou!==selectedBusyou">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          詳細
      </button>
      <button type="button" class="btn btn-danger"
        (click)="busyouToBeDeleted=busyou; staticModal.show()" [disabled]="busyou!==selectedBusyou">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          削除
        </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">削除の確認</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="busyouToBeDeleted" class="text-center">
          <img [src]="getBusyouPortrait(busyouToBeDeleted)" class="rounded">
          <div>
            <strong>{{busyouToBeDeleted.name}}</strong> を削除しちゃって良いですか？
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-danger" (click)="deleteIt(); $event.stopPropagation(); staticModal.hide()">はい。バッサリお願いします</button>
          <button type="button" Class="btn" (click)="staticModal.hide()">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<ul class="busyous">
  <li *ngFor="let busyou of busyous"
      [class.selected]="busyou===selectedBusyou"
      (click)="onSelect(busyou)">
    <span class="my-badge">{{busyou.id}}</span>
    <span>{{busyou.name}}</span>
    <button class="delete"
      (click)="delete(busyou); $event.stopPropagation()">x</button>
  </li>
</ul>
-->
<!--<app-busyou-detail [busyou]="selectedBusyou"></app-busyou-detail>-->
<!--<div *ngIf="selectedBusyou">
  <h2>
    {{selectedBusyou.name}} が一番好きだぜ！
  </h2>
  <button type="button" class="btn btn-primary" (click)="gotoDetail()">詳細へ</button>
</div>
-->