<div class="container">
  <div *ngIf="busyou">
    {{diagnostic}}
    <div class="row">
      <div class="col-sm-6">
        <img [src]="busyouService.getBusyouPortrait(busyou)" class="img-responsive" (click)="ddd()">
      </div>

      <div class="col-sm-6">
        <h2>
          <ruby>
            <rb>{{busyou.name}}</rb>
            <rt>{{busyou.kana}}</rt>
          </ruby>
        </h2>
        <div *ngFor="let alert of alerts">
          <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
        </div>
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="busyou_id">id</label>
        <input type="text" class="form-control" id="busyou_id" required [value]="busyou.id" disabled>
      </div>

      <div class="form-group">
        <label for="name">武将名</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="busyou.name" name="name" placeholder="武将名を入れてください" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          武将名は必須なのです
        </div>
      </div>

      <div class="form-group">
        <label for="kana">ふりがな</label>
        <input type="text" class="form-control" id="kana" [(ngModel)]="busyou.kana" name="kana" placeholder="武将名のふりがなを入れてください">
      </div>

      <div class="form-group">
        <label for="buryoku">武力</label>
        <input type="number" class="form-control" id="buryoku" required [(ngModel)]="busyou.param_buryoku" name="buryoku" placeholder="武力を入れてください (0-100)" min="0" max="100" #buryoku="ngModel">
        <div [hidden]="buryoku.valid || buryoku.pristine" class="alert alert-danger">
          武力は必須なのです
        </div>
      </div>

      <div class="form-group">
        <label for="seiji">政治力</label>
        <input type="number" class="form-control" id="seiji" required [(ngModel)]="busyou.param_seiji" name="seiji" placeholder="政治力を入れてください (0-100)" min="0" max="100" #seiji="ngModel">
        <div [hidden]="seiji.valid || seiji.pristine" class="alert alert-danger">
          政治力は必須なのです
        </div>
      </div>

      <div class="form-group">
        <label for="chibou">智謀</label>
        <input type="number" class="form-control" id="chibou" required [(ngModel)]="busyou.param_chibou" name="chibou" placeholder="智謀を入れてください (0-100)" min="0" max="100" #chibou="ngModel">
        <div [hidden]="chibou.valid || chibou.pristine" class="alert alert-danger">
          智謀は必須なのです
        </div>
      </div>
    </form>
<!--    
    <dl class="dl-horizontal">
      <dt>id: </dt><dd>{{busyou.id}}</dd>
      <dt>武将名: </dt>
      <dd><input [(ngModel)]="busyou.name" placeholder="武将名"></dd>
    </dl>
    -->
  <!--  <div>
      <label>id: </label>{{busyou.id}}
    </div>
    <div>
      <label>武将名: </label>
      <input [(ngModel)]="busyou.name" placeholder="武将名">
    </div>
  -->  
    <div class="pull-right">
      <button type="button" class="btn btn-danger" (click)="goBack()">
        戻る
      </button>
      <button type="button" class="btn btn-primary" (click)="save()">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        保存
      </button>
    </div>
  </div>
</div>
