<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#" class="navbar-brand">
      武将祭り
    </a>
  </div>

  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li routerLink="/dashboard" routerLinkActive="active">
        <a>
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          ダッシュボード
        </a>
      </li>
      <li routerLink="/busyous" routerLinkActive="active">
        <a>
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
          武将一覧
        </a>
      </li>
      <li routerLink="/carousel" routerLinkActive="active">
        <a>
          <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
          Carousel
        </a>
      </li>
    </ul>
  </div>
</nav>

<!--<h1>
  {{title}}
</h1>
-->
<h6></h6>
<!--<div>
  <a class="btn btn-primary" routerLink="/dashboard" routerLinkActive="active">ダッシュボード</a>
  <a class="btn btn-primary" routerLink="/busyous" routerLinkActive="active">武将たち</a>
</div>
-->
<ul class="nav nav-tabs">
  <li routerLink="/dashboard" routerLinkActive="active">
    <a>
      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      ダッシュボード
    </a>
  </li>
  <li routerLink="/busyous" routerLinkActive="active">
    <a>
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      武将一覧
    </a>
  </li>
  <li routerLink="/carousel" routerLinkActive="active">
    <a>
      <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
      Carousel
    </a>
  </li>
</ul>

<router-outlet></router-outlet>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    2017
  </div>
</nav>
